<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head', {styles: ["productDetail"]}) %>
  <body>
    <%-include('../partials/header') %>
    <main>
      <section class="producto">
        <div class="imagenes-producto">
          <img
            class="imagenPrincipal"
            src="/images/products/<%= product.image %>"
            alt="foto producto"
          />
        </div>
        <div class="infoGeneral-producto">
          <h2><%= product.name %></h2>
          <p>$ <%= product.price %></p>
          <div class="talles">
            <button type="submit" value="S">S</button>
            <button type="submit" value="M">M</button>
            <button type="submit" value="L">L</button>
            <button type="submit" value="XL">XL</button>
          </div>
          <a href="#">Guía de talles</a>
          <div class="botonesCompra">
            <button type="submit">Añadir al carrito</button>
            <button type="submit">Comprar ahora</button>
          </div>
        </div>
      </section>
      <section class="infoDetallada">
        <h4>Más información</h4>
        <div class="detalles">
          <p><%= product.description %></p>
        </div>
      </section>
      <div class="botones">
      <% if(locals.isLogged) { %>
        <a href="/products/<%= product.id %>/edit" class="boton-editar"
            >EDITAR PRODUCTO</a
          >
          <form
            action="/products/<%= product.id %>/delete?_method=DELETE"
            method="POST"
            class="form-borrado"
          >
            <button type="submit" class="boton-eliminar">ELIMINAR</button>
        </form>
        <% } %>
    </div>

    </main>
    <%-include('../partials/footer') %>
  </body>
</html>
