<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head', {styles: ["productCreate-edit"]}) %>
    <body>
        <%-include('../partials/header') %>
        <main class="">
            <section class="formulario-edit-contenedor">
                <form class="formulario-edit" action="/products/<%= product.id %>/edit?_method=PUT" method="post">
                    <h2 class="titulo-edit">Editar productos</h2>
                    <div class="form-contenedor-edit">
                        <input class="input" placeholder="Nombre del producto" type="text" name="nombreProducto" id="nombreProducto" required value="<%= product.name %>">
                    </div>
                    <div class="form-contenedor-edit">
                        <input class="input" placeholder="Descripción del producto" type="text" name="descripcionProducto" id="descripcionProducto" required value="<%= product.description %>">
                    </div>
                    <div class="form-contenedor-edit">
                        <h4 class="tituloImagen-edit">Imagen del producto</h4>
                        <input type="file" name="imagenProducto" id="imagenProducto" accept="image/*" value="<%= product.image %>">
                    </div>
                    <div class="form-contenedor-edit">
                        <label class="tituloCategoria-edit" for="categoria">Categoría:</label>
                        <select class="categorias" name="categoria" id="categoria">
                            <option value="">Selecciona una categoria</option>
                            <% locals.categories?.forEach(category => { %>
                                <option value="<%= category.id %>"><%= category.country %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-contenedor-edit">
                        <label class="tituloTalle-edit" for="talles">Talles:</label>
                        <select class="talles" name="talles" id="talles">
                            <option value="">Selecciona un talle</option>
                            <% locals.sizes?.forEach(sizes => { %>
                                <option value="<%= sizes.id %>"><%= sizes.size %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-contenedor-edit">
                        <input class="input" placeholder="Precio del producto" type="text" name="precioProducto" id="precioProducto" required value="<%= product.price%>">
                    </div>
                    <div class="form-contenedor-botones-edit">
                        <button type="submit">Actualizar</button>
                        <button type="reset">Borrar</button>
                    </div>
                </form>
            </section>
        </main>
        <%-include('../partials/footer') %>
    </body>
</html>