<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head', {styles: ["productCreate-edit"]}) %>
    <body>
        <%-include('../partials/header') %>
        <main class="">
            <section class="formulario-edit-contenedor">
                <form class="formulario-edit" action="/products/create" method="POST" enctype="multipart/form-data">
                    <h2 class="titulo-edit">Cargar nuevos productos</h2>
                    <div class="form-contenedor-edit">
                        <input class="input" placeholder="Nombre del producto" type="text" name="nombreProducto" id="nombreProducto" required>
                    </div>
                    <div class="form-contenedor-edit">
                        <input class="input" placeholder="Descripción del producto" type="text" name="descripcionProducto" id="descripcionProducto" required>
                    </div>
                    <div class="form-contenedor-edit">
                        <h4 class="tituloImagen-edit">Imagen del producto</h4>
                        <input type="file" name="imagenProducto" id="imagenProducto" accept="image/*">
                    </div>
                    <div class="form-contenedor-edit">
                        <label class="tituloCategoria-edit" for="categoria">Categoría:</label>
                        <select class="categorias" name="categoria" id="categoria">
                            <option value="">Selecciona una categoria</option>
                            <% locals.categories?.forEach(category => { %>
                                <option value="<%= category.id %>"><%= category.country %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-contenedor-edit">
                        <label class="tituloTalle-edit" for="talles">Talles:</label>
                        <select class="talles" name="talles" id="talles">
                            <option value="">Selecciona un talle</option>
                            <% locals.sizes?.forEach(size => { %>
                                <option value="<%= size.id %>"><%= size.size %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-contenedor-edit">
                        <input class="input" placeholder="Precio del producto" type="text" name="precioProducto" id="precioProducto" required>
                    </div>
                    <div class="form-contenedor-botones-edit">
                        <button type="submit">Crear</button>
                        <button type="reset">Borrar</button>
                    </div>
                </form>
            </section>
        </main>
        <%-include('../partials/footer') %>
    </body>
</html>