<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head', {styles: ["index", "carrousel"]}) %>
  <body>
    <%- include('partials/header') %>

    <main>
      <section class="slider">
        <div class="banner-img">
          <img
            class="active"
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/story-snipped-cielo-ar-d_tcm216-1036009.jpg"
            alt="imagen1"
          />
          <img
            src="https://golazo24.com/wp-content/uploads/2023/11/FkSE245XwAIr6_7.webp"
            alt="imagen2"
          />
          <img src="https://viapais.com.ar/resizer/iJc9m_x61-1W2at0creF3GDWrII=/1200x630/smart/filters:quality(75):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/AVK4OC2J6VBVHGI7UW4CP4HWFA.webp" alt="imagen3">
          <img src="https://phantom-marca.unidadeditorial.es/cbd6c40b972a07b1e484c1b29a8672d7/f/webp/assets/multimedia/imagenes/2021/01/11/16103671190112.jpg" alt="imagen4">
          <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blta98de91a895141b6/615f83e17283ff0af5758e32/cc106c47e88832d736a9f3aad9a55d5a07253d14.jpg?auto=webp&format=pjpg&width=3840&quality=60" alt="imagen5">
        </div>
      </section>

      <section>
        <div class="marcas" id="carousel">
          <div class="adidas">
            <img
              src="/images/logoadidas.png"
              alt="logo-adidas"
            />
          </div>
          <div class="nike">
            <img
              src="/images/logonike.png"
              alt="logo-nike"
            />
          </div>
          <div class="puma">
            <img
              src="/images/logopuma.png"
              alt="logo-puma"
            />
          </div>

          <div class="under">
            <img
              src="/images/logounderarmour.png"
              alt="logo-under"
            />
          </div>
          <div class="kappa">
            <img
              src="/images/logokappa.png"
              alt="logo-kappa"
            />
          </div>
          <div class="umbro">
            <img
              src="/images/logoumbro.png"
              alt="logo-umbro"
            />
          </div>
        </div>
      </section>

      <div class="slideshow-container">
        <% products.forEach((product, index) => { %>
            <div class="mySlides fade">
                <a href="products/detail/<%= product.id %>"><img src="/images/products/<%= product.image %>">
                <div class="text"><%= product.name %></div>
              </a>
            </div>
        <% }); %>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
      </div>

      <script src="js/carrousel.js"></script>
      <script src="js/carrouselMarcas.js"></script>
      <script src="js/carrouselProductos.js"></script>  
    </main>
    <%- include('partials/footer') %>
  </body>
</html>

