<!DOCTYPE html>
<html lang="es">
    <%-include('partials/head', {styles: ["products"]}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <h1 class="titulo-producto">Todos los productos</h1>
        <a href="/products/create" class="link-crear">Crear nuevos productos</a>
        <ul class="container_products">
            <% for(let i = 0; i < products.length; i++) { %>
                    <li class="caja-producto">
                        <a href="/products/detail/<%= products[i].id %>">
                            <figure class="caja-producto-imagen">
                                <img src="/images/products/<%= products[i].image %>" alt="imagen del producto">
                            </figure>
                            <article class="caja-producto-data">
                                <h2><%=  products[i].name %></h2>
                                <h3>$ <%= products[i].price %></h3>
                            </article>
                        </a>
                    </li>
            <% } %>
        </ul>
    </main>
    <%- include('partials/footer') %>
</body>
</html>