<!DOCTYPE html>
<html lang="es">
    <%-include('partials/head', {styles: ["products"]}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <h1 class="titulo-producto">Todos los productos</h1>
        <div class="container_products">
            <% locals.products && products.forEach(product => { %>
                    <section class="caja-producto">
                        <a href="/products/detail/<%= product.id %>">
                            <figure class="caja-producto-imagen">
                                <img src="/images/products/<%= product.imagenProducto %>" alt="imagen del producto">
                            </figure>
                            <article class="caja-producto-data">
                                <h2><%=  product.nombreProducto %></h2>
                                <h3>$ <%= product.precioProducto %></h3>
                            </article>
                        </a>
                    </section>
                <% }) %>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>