<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head', {styles: ["login-register"]}) %>

  <body>
    <%-include('../partials/header') %>
    <main>
      <div class="panel">
        <h2>Panel de cuenta</h2>
      </div>
      <section class="formularios">
        <form method="POST" action="/users/login">
          <h3>Ingresar</h3>
          <div class="contenedor-input-register">
            <input
              placeholder="Correo electrónico"
              type="email"
              name="email"
            />
            <% if (locals.errors && errors.email) { %>
            <div class="mensaje-error"><%= errors.email.msg %></div>
            <% } %>
          </div>
          <div class="contenedor-input-register">
            <input
              placeholder="Contraseña"
              type="password"
              name="password"
            />
            <% if (locals.errors && errors.password) { %>
            <div class="mensaje-error"><%= errors.password.msg %></div>
            <% } %>
          </div>
          <div class="botones">
            <button class="boton">Ingresar con Google</button>
            <button class="boton" type="submit">Iniciar Sesión</button>
            <div class="rememberuser">
            <input type="checkbox" id="remember_user" />
            <label for="remember_user">Recordar usuario</label>
          </div>
          </div>
          <div class="olvidaste">
            <a href="register">¿No tienes una cuenta?</a>
            <br />
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
        </form>
      </section>
    </main>
    <%-include('../partials/footer') %>
  </body>
</html>
